---
layout: default
overview: true
---
<style>
	{% include styles.css %}
</style>

<h2>About me</h2>
	
<p>
	I am php programmer in <a href="http://www.peckadesign.cz">Peckadesign</a> in Brno. My hobby project is <a href="http://spameri.cz">Spameri</a>.
	Spameri are now in process of rebuilding, including development environment, setting up automatic testing and more.
	I will document this process as I proceed hopefully someone else can use my notes in future. :)
</p>
	
<h3>Posts</h3>
	
<ul class="posts">
	{% for post in site.posts %}
	<li>
		<span>{{ post.date | date_to_string }}</span> »
		<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title}}</a>
	</li>
	{% endfor %}
</ul>

<hr>

<h3>Technologies using or tried</h3>
<ul>
	<li>
		<a href="http://php.net/" class="php">PHP</a>
		<div class="skill skill-5 skill-php"></div>
	</li>
	<li>
		<a href="https://www.elastic.co/products/elasticsearch/">ElasticSearch</a>
	</li>
	<li>
		<a href="https://blackfire.io/">Blackfire.io</a>
	</li>
</ul>

<hr>

<h3>Social</h3>
<ul>
	<li>
		<a href="https://twitter.com/Spamercz">Twitter</a>
	</li>
	<li>
		<a href="https://github.com/VBoss/">Github - VBoss</a>
	</li>
	<li>
		<a href="https://github.com/Spameri/">Github - Spameri</a>
	</li>
</ul>
