---
layout: default
overview: true
---
<style>
	{% include styles.css %}
</style>

<h2>About me</h2>
	
<p>
	I am php programmer in <a href="http://www.peckadesign.cz">Peckadesign</a> in Brno.
</p>

<hr>
	
<h3>Posts</h3>
	
<ul class="posts">
	{% for post in site.posts %}
	<li>
		<span>{{ post.date | date_to_string }}</span> »
		<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title}}</a>
	</li>
	{% endfor %}
</ul>

<hr>

<h3>Talks - CZ</h3>
<ul>
	<li>
		<a href="https://www.youtube.com/watch?v=8j-VnrKfIK8">107. PoSobota - ElasticSearch do vaší aplikace za pár minut</a><br>
		<a href="https://github.com/spameri/sandbox/">Github example</a><br>
		<a href="http://blog.spameri.cz/files/ElasticSearch_za_par_minut.pdf">Slides</a>
		<a href="https://github.com/spameri/elasticquery">Spameri/ElasticQuery - Obalení polí pro EleasticSearch do objektů</a>
		<a href="https://github.com/spameri/elastic">Spameri/Elastic - Obsluha ElasticSearch pomocí tenkého ODM</a>
	</li>
	<li>
		<a href="https://www.youtube.com/watch?v=bMXLXiogXaE">29. Sraz Péhápkařů - Dump dat z ElasticSearch za pomoci knihovny Spameri/Elastic</a><br>
		<a href="https://github.com/spameri/elastic">Knihovna Spameri/Elastic</a>
	</li>
	<li>
		<a href="https://www.youtube.com/watch?v=ua7tEBF6UwM">ElasticSearch Brno meetup - Dynamic field mapping</a><br>
		<a href="https://docs.google.com/presentation/d/1sVgn9Hdy_blY3aMEbDypFZ3D9Xclw0TEEtTaryo7q1s/edit#slide=id.p">Slides</a>
	</li>
	<li>
		<a href="https://www.youtube.com/watch?v=c9ZyL4l-2Cs">23. Sraz Péhápkařů - Validujte vstupní data pomocí objektů</a><br>
		<a href="https://github.com/VBoss/ObjectValidationPehapkari">Github example</a><br>
		<a href="https://www.slideshare.net/peckadesign/pehapkari-v-pecce-validujte-vstupni-data-pomoci-objektu-vaclav-cevela-14-11-2018">Slides</a>
	</li>
	<li>
		<a href="https://www.youtube.com/watch?v=jphukJLkSBM">První! - Elasticsearch v objektech, hledání a agregování</a><br>
		<a href="https://github.com/VBoss/ElasticPeckaWorkshop">Github example</a><br>
		<a href="https://github.com/peckadesign/ElasticsearchQuery">ElasticSearchQuery library</a>
	</li>
	<li>
		<strong>PoSobota ElasticSearch Workshop - Bez záznamu</strong><br>
		<a href="https://github.com/VBoss/ElasticPosobotaWorkshop">Github example</a>
	</li>
</ul>

<hr>

<h3>Skill set</h3>
<h4>Good at</h4>
<ul>
	<li>
		<a href="http://php.net/" class="php">PHP</a>
	</li>
	<li>
		<a href="https://nette.org/cs/" class="php">Framework - Nette</a>
	</li>
	<li>
		<a href="https://www.elastic.co/products/elasticsearch/">ElasticSearch - Nice searching, complex data aggregation, training</a>
	</li>
	<li>
		<a href="https://github.com/Spameri/ElasticQuery">Spameri/ElasticQuery: ElasticSearch - PHP OOP implementation</a>
	</li>
	<li>
		<a href="https://github.com/Spameri/Elastic">Spameri/Elastic: ElasticSearch - PHP ODM or data mapper</a>
	</li>
	<li>
		<a href="https://tester.nette.org/" class="php">Testing - Nette Tester</a>
	</li>
    <li>
		<a href="https://redis.io/">Redis - Maintainer of Nette implementation</a>
    </li>
    <li>
		<a href="https://www.rabbitmq.com/">RabbitMQ</a>
    </li>
    <li>
		<a href="https://mariadb.org/">MariaDB</a>
    </li>
    <li>
		<a href="http://supervisord.org/">Supervisor</a>
    </li>
    <li>
		<a href="https://github.com/phpstan/phpstan">PHPStan</a>
    </li>
    <li>
		<a href="https://git-scm.com/">Git</a>
    </li>
	<li>
		<a href="https://blackfire.io/">Blackfire.io</a>
	</li>
</ul>
<h4>Worked with</h4>
<p>
	Symfony, Laravel, JavaScript, Doctrine, Bash, Docker, Linux, MSSQL, Postman, Apiary, Xpath, Monolog, Guzzle, PHPCS, Mockery, Dibi and more...
</p>

<hr>

<h3>Social</h3>
<ul>
	<li>
		<a href="https://github.com/Spameri/">Github - Spameri</a>
	</li>
	<li>
		<a href="https://github.com/VBoss/">Github - VBoss</a>
	</li>
	<li>
		<a href="https://twitter.com/Spamercz">Twitter</a>
	</li>
	<li>
		<a href="http://blog.spameri.cz/atom.xml">RSS</a>
	</li>
</ul>
