.php {
  color: #8892bf;
}

.skill {
    background: #d3d3d3;
    width: 360px;
    height: 8px;
    display: block;
    position: relative;
}

.skill-php::before {
  background: #8892bf;
}

.skill::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 2;
}

.skill-1::before {
  width: 20%;
}

.skill-2::before {
  width: 40%;
}

.skill-3::before {
  width: 60%; 
}

.skill-4::before { 
  width: 80%;
}

.skill-5::before {
  width: 100%;
}
